body {
  background: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}

header {
  background: rgb(49, 49, 49);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-link {
  color: white;
  padding: 0 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: olivedrab;
  font-weight: 600;
}

h1 {
  margin-top: 50px;
}

.image-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.homer-1 {
  height: 100px;
}

.homer-2 {
  height: 150px;
}

.homer-3 {
  height: 200px;
}

.source-p {
  text-align: left;
  font-size: 13px;
}
.source-link {
  color: olivedrab;
}
