body {
  background: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}

header {
  background: rgb(49, 49, 49);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.main-content {
  margin: 50px 20px 20px 20px;
}

.nav-link {
  color: white;
  padding: 0 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: olivedrab;
  font-weight: 600;
}

.image-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.homer-1 {
  height: 100px;
}

.homer-2 {
  height: 150px;
}

.homer-3 {
  height: 200px;
}

.pulse {
  animation: pulse 9s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.rotate {
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.source-p {
  text-align: left;
  font-size: 13px;
}
.source-link {
  color: olivedrab;
}
