body {
  background: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}

header {
  background: rgb(49, 49, 49);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.main-content {
  margin: 50px 20px 20px 20px;
}

.nav-link {
  color: white;
  padding: 0 20px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 0;
  line-height: 20px;
  font-size: 30px;
}

.sub-heading {
  font-size: 20px;
  line-height: 10px;
}

h2 {
  background: rgb(49, 49, 49);
  color: white;
  margin: 0 0 15px 0;
  font-weight: 400;
}

.image-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.homer-1 {
  height: 90px;
  padding: 10px;
}

.homer-2 {
  height: 120px;
  padding: 10px;
}

.homer-3 {
  height: 170px;
}

.pulse-1 {
  animation: pulse 9s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.pulse-2 {
  animation: pulsetwo 9s ease-in-out infinite;
}
@keyframes pulsetwo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.darwin-pic {
  width: 100%;
}

ol {
  border: solid black 2px;
}

li {
  text-align: left;
}

b {
  text-decoration: underline wavy;
}

input {
  width: 40px;
  margin-left: 10px;
}

.link-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
}

.source-link {
  color: olivedrab;
}

.link-1,
.link-2 {
  font-size: 12px;
}

@media (max-width: 330px) {
  .sub-heading {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
  p,
  b,
  li,
  label {
    font-size: 14px;
  }
}
